body{
    margin: 0%;
    background-image: url(../asserts/hn.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;

  
 
}

.nav{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: darkslategrey;
   
}
ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
ul li{
    list-style: none;

}
ul li:hover{
    background-color: dimgray;
    cursor: pointer;

}

.logo:hover{
    
    background-color: dimgray;
    cursor: pointer;
}
ul li a{
    color: gray;
    text-decoration:none ;
}
.footer{
    background-color: blueviolet;
    text-align: center;
    width: 100%;
}
h1{
    text-align: center;
}
p{
    font-size: 30px;
    background-color: coral;
    color: cyan;
    font-family: Arial, Helvetica, sans-serif;
}