body{
    margin: 0%;
    background-image: url(../asserts/hn.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

  
 
}

.nav{
    display: flex;
   align-items: center;
   background-color: darkslategrey;
   height: 55px;
   
}
ul{
    display: flex;
    width: 100%;
    margin-left: 41%;
}
ul li{
    list-style: none;

}
ul li:hover{
    background-color: dimgray;
    cursor: pointer;

}

.logo:hover{
    background-color: rgba(105, 105, 105, 0.151);
    cursor: pointer;
   
}
ul li a{
    color: gray;
    text-decoration:none;
    padding: 15px 26px;

}
.footer{
    background-color: black;
    text-align: center;
    height: 30px;
}
.footer marquee{
    color: white;
}

h1{
    text-align: center;
    font-size: 40px;
    background-color: black;
    color: white;
}
p{
    color: white;
    font-size: 25px;
    background-color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul li a button{
    background-color: cornflowerblue;
    color: red;
    cursor: pointer;
}
.logo {
    color: dimgrey;
    margin-left: 3%;
}
.imagerow img{
    height: 500px;
    width: 300px;  
}
.g1{
    margin-left: 15.5%;
}