body{
    margin: 0%;
    background-image: url(../asserts/hn.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;

  
 
}

.nav{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: darkslategrey;
   
}
ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
ul li{
    list-style: none;

}
ul li:hover{
    background-color: dimgray;
    cursor: pointer;

}

.logo:hover{
    
    background-color: dimgray;
    cursor: pointer;
}
ul li a{
    color: gray;
    text-decoration:none ;
}
.footer{
    background-color: blueviolet;
    text-align: center;
    width: 100%;
}
h1{
    text-align: center;
}
form{
    background-color: rgba(32, 13, 17, 0.671);
    margin-top: 2%;
    margin-left: 30%;
    max-width: 550px;
    border: 2px solid black;
    padding: 30px;

}
label{
    display: block;
    font-size: 40px;
    margin-top: 20px;
    
}
input{
    width: 100%;
    padding: 10px;
    margin-top: 3%;
    border: double;
    font-size: 20px;
    background-color: rgba(42, 159, 180, 0.158);
}
input[type="submit"]:hover{
    background-color: rgba(21, 158, 39, 0.404);
}
input[type="submit"]{

        background-color: rgba(25, 0, 255, 0.548);
        color: rgba(230, 223, 213, 0.397);
        padding: 20px;
        border: 2px solid black;
        cursor: pointer;
        font-size: 15px;
        width: 100%;

}
h1{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: darkgreen;
    
}
.logo {
    color: dimgrey;
}
option{
    font-size: 20px;
    color: chartreuse;
    background-color: darkslateblue;
    font-family: sans-serif;
    padding: 2px;
}
select{
    color: rgba(19, 223, 162, 0.541);
    padding: 2px;
    border: dotted;
    background-color: rgba(187, 146, 42, 0.473);
    cursor: pointer;
    font-size: 20px;
}
